/***** SERVICES CSS ******/

.services-header-img {
    /*Sets witdth of header image in services.html*/
    width: 100%;
}

.services-top-text {
    padding: 5%;
    text-align: center;
}
.bottom-content .services-content {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.bottom-content .services-content .text-content {
    height: 25%;
    text-align: center;

}


.services-info-img {
    height: 25%;
}

.main-content .services-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* This width changes the size of the different services boxes*/
    width: 66%;
    margin: 0 auto;
}


.services-content ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

.main-content .services-content .text-content {
    text-align: center;
    background: #F5F5F5;
    /* This changes the width of .text-content to be
     * just under half the size of the page,
     * allowing 2 columns of flex boxes to be stacked.
    /* width: 48%; */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 120%;
    margin-bottom: 5%;
}


.main-content .services-content .text-content .btn {
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


