
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

ul.services-facts-list {
    list-style: square;
    line-height: 150%;
    padding-left: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-content: center;

  /* TB LR */
}

.vision-header-img {
    max-width: 440px;
    padding-bottom: 20px;
}

.vision-img {
    max-width: 440px;
}

/* header */

header {
  display: flex;
  flex-flow: column-reverse nowrap;

  }


header nav {
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  vertical-align: top;

}


header nav a {
  font-size: 20px;
  color: gray;
  text-decoration: none;
  border-top: gray solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
  border-bottom: gray solid 2px;
}

 header img {
     width: 25%;
     padding-top: 5%;
     padding-bottom: 5%;
    margin: 0 auto;
 }

/* cta */
.cta {
  display: flex;
  justify-content: center;
}

.cta .cta-text {
  display: flex;
  flex-flow: column nowrap;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 69px;
  display:none;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.bottom-content {
    margin: 0 auto;

}

.main-content .top-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main-content .top-content .text-content {
  width: 100%;
}

.main-content .top-content .text-content:last-child {
}

.main-content .middle-img-div {
  }

 .middle-img {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.main-content .bottom-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.text-content {
    padding: 5%;
}



.main-content .bottom-content .text-content {
  width: 100%;
}

.main-content .bottom-content .text-content:last-child {
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 5% 5% 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

/***** SERVICES CSS ******

.services-header-img {
    /*Sets witdth of header image in services.html
    width: 100%;
}

.services-top-text {
    padding: 5%;
    text-align: center;
}
.bottom-content .services-content {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.bottom-content .services-content .text-content {
    height: 25%;
    text-align: center;

}


.services-info-img {
    height: 25%;
}

.main-content .services-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* This width changes the size of the different services boxes
    width: 66%;
    margin: 0 auto;
}


.services-content ul {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

.main-content .services-content .text-content {
    text-align: center;
    background: #F5F5F5;
    /* This changes the width of .text-content to be
     * just under half the size of the page,
     * allowing 2 columns of flex boxes to be stacked.
    /* width: 48%; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 120%;
    margin-bottom: 5%;
}


.main-content .services-content .text-content .btn {
    border-radius: 5px;
    border-color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-content .vision-content {
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    justify-content: space-between;
    align-content: space-between;
}

.main-content .vision-content .text-content {
    text-align: justify;
    padding: 15px;
    max-width: 50%;
    line-height: 140%;
    margin-bottom: 15px;
    margin-top: 15px;
    max-height: 440px;

}*/



@media screen and (min-device-width : 500px) {
/* Styles */
    /* HEADER STYLES */
    header nav {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: none;
    }
    header nav a {
      margin-right: 0 auto;
      font-size: 14px;
      color: gray;
      text-decoration: none;
      border-top: none;

    }

    header nav a:last-child {
      border-bottom: none;
    }

    /*INDEX.HTML STYLES */
    .main-content .top-content {
      padding: 0 10px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .main-content .top-content .text-content {
      width: 100%;
    }
    .main-content .bottom-content {
      margin-top: 1%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .main-content .bottom-content .text-content {
      width: 33%;
      height: 50%;
    }

    .text-content {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
     .middle-img {
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 1%;
      padding-right: 1%;
    }
    /* CONTACT STYLES */
    .contact {
      border-top: 1px solid black;
      padding-top: 5%;
      padding-bottom: 0%;
      padding-left: 5%;
      padding-right: 5%;
    }

    /****** SERVICES.HTML ******/

    .services-top-text {
    text-align: left;
}
    .services-info-img {
        width: auto;
        height: auto;
    }
    .bottom-content .services-content .text-content {
        width: 50%;
        text-align: justify;

    }

    .bottom-content .services-content {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
    }
    .services-info-img {
        width: 50%;
        height: 50%;

    }






}

@media screen and (min-device-width : 800px) {


    .container {
      width: 880px;
      /* TB LR */
      margin: 0 auto;
    }

    /* header */
    /* HEADER STYLES */
    header nav {
      justify-content: space-around;
      display: flex;
      flex-flow: row nowrap;
      width: 150%;
      vertical-align: top;
      margin-top: 5%;
    }

    header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }

    header nav a {
      font-size: 14px;
      color: gray;
      text-decoration: none;
    }

    header nav a:hover {
      text-decoration: underline;
    }

    header nav a:first-child {
      margin-left: 0;
    }

    header nav a:last-child {
      margin-right: 0;
    }
     header img {
         width: 40%;
         padding-left: 5%;
         padding-top: 5%;
     }

    /*INDEX.HTML STYLES */

    /* cta */
    .cta {
      display: flex;
      flex-flow: row nowrap;
    }

    .cta img {
      display: flex;
      margin-top: 69px;
    }


    /***** SERVICES.HTML STYLES *****/

    .main-content .services-content .text-content {
        width: 48%;
        text-align: justify;
    }

    .main-content .services-content {
        width: 90%;
    }

    .bottom-content .services-content .text-content {
        width: 48%;
        text-align: justify;
    }
    .services-content ul {
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
    }
    .services-info-img {
        width: auto;
        height: auto;
    }



 }
