@media screen and (max-device-width:500px) {

header {
  display: flex;
  flex-flow: column-reverse nowrap;

  }


header nav {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  text-align: center;
  vertical-align: top;
  margin-top: none;

}


header nav a {
  margin-right: none;
  font-size: 20px;
  color: gray;
  text-decoration: none;
  border-top: gray solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
  border-bottom: gray solid 2px;
}

 header img {
     width: 25%;
     padding-top: 5%;
     padding-bottom: 5%;
    margin: 0 auto;
 }

/* cta */
.cta {
  display: flex;
  justify-content: center;
}

.cta .cta-text {
  display: flex;
  flex-flow: column nowrap;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 69px;
  display:none;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.bottom-content {
    border-top: none;
    padding-top: none;
    margin: 0 auto;

}

.main-content .top-content {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main-content .top-content .text-content {
  width: 100%;
  margin-right: none;
}

.main-content .top-content .text-content:last-child {

  margin-right: none;
}


 .middle-img {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
    margin-top: none;
}

.main-content .bottom-content {
    margin-top: none;
  display: flex;
  padding: 0 10px;
  flex-flow: column wrap;
  justify-content: center;
}

.text-content {
    padding: 5%;
}



.main-content .bottom-content .text-content {
  width: 100%;
  margin-right: none;
}

.main-content .bottom-content .text-content:last-child {
    margin-right: none;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 5% 5% 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}

}
